
body{
	background: #0d9acf url(../img/background.png)
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
	font-family: "Andale Mono", AndaleMono, monospace;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #000;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	color: #000;
}
.navbar-default .navbar-toggle{
	background: white;
	border-color: #F90909;
}
.span6{
	text-align: center;
}
.short-text{
	text-align: center;
}
h1{
	text-align: center;
	color: black;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.E-mail{
	text-align: center;
	font-family: monospace;
}
.facebook{
	text-align: center;
	font-family: monospace;
}
.twitter{
	text-align: center;
	font-family: monospace;
}
.googleplus{
	text-align: center;
	font-family: monospace;
}
a{
	color: black;
}
.img-responsive{
	display: inline-block;
	display: inline;
}
.visual-box{
	background-color: #f5f5f5;
	border: 1px solid #eee;
	padding: 11px;
	margin-bottom: 15px;
}
.social-media{
	text-align: center;
	margin: 30px auto;
}
.logo-container{
	text-align: center;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #7fc242;
}
#progressBar{
  width: 100%;
  background: #EDEDED;
}
.freelancer{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}
.naviation-small{
	text-align: center;
	color: white;
}
.navigation-small a{
	color: #fff;
}
.navigation{
	color: white;
	margin: 30px auto;
}
.navigation a{
	color: #fff;
}
.navigation-tablet{
	text-align: center;
	color: white;
}
.navigation-tablet a{
	color: #fff;
}
.latest-title{
	color: white;
	text-align: center;
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}
.twitter-feed{
	padding-top: 20px;
	text-align: center;
}
.footer-background{
	height: 220px;
	background:#06A3D0;
}
.footer-information{
	background: #057C9E;
	height: 100px;
}
.copyright-information{
	margin: -10px 0px;
	color: white;
}
.footerlogo{
	margin: 20px 0px auto;
}
.footer-links{
	color: white;
	margin: 30px 0px auto;
	font-size: 16px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.banner{
	text-align: center;
	margin: -230px 380px auto;
}
.video{
	text-align: center;
}
p{
	color: white;
	text-align: center;
	font-family: cursive;
}
h2{
	color: white;
	text-align: center;
}
h3{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-align: center;
	color: black;
}
.pagination{
	margin: 20px 430px;
}
/* All styles for SM */
@media (min-width: 768px){
	.navbar-nav{
		float: left;
}

/* All styles for MD */
@media (min-width: 992px){
	.logo-container{
		text-align: left;
	}
	
}
/* All styles for LG */
@media (min-width: 1200px){

}
